<%inherit file="/base.html"/>

<%block name="on_doc_ready">
    function vote(element, direction, type) {
        var product_id = element.attr("product_id");
        $.post(window.location.pathname + "/" + product_id, {direction:direction, vote_type:type}, function(data) {
            $("#votes_" + product_id).html(data.vote_count);
            $(".up_" + product_id).removeClass("upmod up");
            $(".down_" + product_id).removeClass("downmod down");
            if(data.vote_status == "up") {
                $(".up_" + product_id).addClass("upmod");
                $(".down_" + product_id).addClass("down");
            } else if(data.vote_status == "down") {
                $(".down_" + product_id).addClass("downmod");
                $(".up_" + product_id).addClass("up");
            } else {
                $(".up_" + product_id).addClass("up");
                $(".down_" + product_id).addClass("down");
            }
        }, "json");
    }

    $(".arrow").click(function() {
        element = $(this);
        if(element.hasClass("up")) {
            vote($(this), "up", "add");
        } else if(element.hasClass("down")) {
            vote($(this), "down", "add");
        } else if(element.hasClass("downmod")) {
            vote($(this), "down", "remove");
        } else if(element.hasClass("upmod")) {
            vote($(this), "up", "remove");
        }
    });
</%block>

<ul class="product_list">
    % for product_name, price, id, url, image0, image1, image2, image3, vote_class, vote_count in products:
    <%
    if vote_class == "up":
        upclass = "upmod"
        downclass = "down"
    elif vote_class == "down":
        upclass = "up"
        downclass = "downmod"
    else:
        upclass = "up"
        downclass = "down"
    %>
    <li>
        <table>
            <tr>
                <td class="arrow up_${id} ${upclass}" product_id="${id}" />
                <td><a href="${url}">${product_name}</a></td>
            </tr>
            <tr>
                <td class="arrow down_${id} ${downclass}" product_id="${id}" />
                <td><span id="votes_${id}">${vote_count}</span> points | ${price}</td>
            </tr>
            <tr>
                <td><img width=96 height=96 src="${image0}"></td>
                <td><img width=96 height=96 src="${image1}"></td>
                <td><img width=96 height=96 src="${image2}"></td>
                <td><img width=96 height=96 src="${image3}"></td>
            </tr>
        </table>
    </li>
    % endfor
</ul>
