<%inherit file="/base.html"/>

<script src="http://www.google.com/jsapi?key=ABQIAAAACmdH40ypgsbXr33Vko_f8hRK5p-Y_hq-RWraBX1SaR3vezWLVRThH-i3FqBui10i7eO_mon3i-dJmA" type="text/javascript"></script>

<script type="text/javascript">
google.load("search", "1");
</script>

<%block name="on_doc_ready">
    function vote(element, direction, type) {
        var product_id = element.attr("product_id");
        var category_url = element.attr("category_url");
        $.post("/browse/" + category_url + "/" + product_id, {direction:direction, vote_type:type}, function(data) {
            $("#votes_" + product_id).html(data.vote_count);
            $(".up_" + product_id).removeClass("upmod up");
            $(".down_" + product_id).removeClass("downmod down");
            if(data.vote_status == "up") {
                $(".up_" + product_id).addClass("upmod");
                $(".down_" + product_id).addClass("down");
            } else if(data.vote_status == "down") {
                $(".down_" + product_id).addClass("downmod");
                $(".up_" + product_id).addClass("up");
            } else {
                $(".up_" + product_id).addClass("up");
                $(".down_" + product_id).addClass("down");
            }
        }, "json");
    }

    $(".arrow").click(function() {
        element = $(this);
        if(element.hasClass("up")) {
            vote($(this), "up", "add");
        } else if(element.hasClass("down")) {
            vote($(this), "down", "add");
        } else if(element.hasClass("downmod")) {
            vote($(this), "down", "remove");
        } else if(element.hasClass("upmod")) {
            vote($(this), "up", "remove");
        }
    });
    
    
    $(".image_block").each(function(idx, el) {
        var imageSearch = new google.search.ImageSearch();
        imageSearch.setRestriction(google.search.ImageSearch.RESTRICT_IMAGESIZE, google.search.ImageSearch.IMAGESIZE_MEDIUM);
        var product_id = $(el).attr("product_id");
        var product_name = $(el).attr("product_name");
        //imageSearch.setSearchCompleteCallback(this, searchComplete, [imageSearch, product_id]);
        imageSearch.setSearchCompleteCallback(this, function() {
            console.debug('search complete');
            if (imageSearch.results && imageSearch.results.length > 0) {
        		// Grab our content div, clear it.
        		var contentDiv = $('#content_' + product_id);
        		contentDiv.innerHTML = '';

        		// Loop through our results, printing them to the page.
        		var results = imageSearch.results;
        		for (var i = 0; i < results.length; i++) {
        			// For each result write its title and image to the screen
        			var result = results[i];
        			var newImg = document.createElement('img');
        			$(newImg).hide();
        			// There is also a result.url property which has the escaped version
        			newImg.src = result.tbUrl;
        			contentDiv.append(newImg);
        			$(newImg).fadeIn('slow');
        		}
        	}
        });
        imageSearch.execute(product_name);
    });
</%block>

<ul class="product_list">
    % for product_info, vote_class, vote_count in products:
    <%
    if vote_class == "up":
        upclass = "upmod"
        downclass = "down"
    elif vote_class == "down":
        upclass = "up"
        downclass = "downmod"
    else:
        upclass = "up"
        downclass = "down"
    %>
    <li>
        <table>
            <tr>
                <td class="arrow up_${product_info.id} ${upclass}" product_id="${product_info.id}" category_url="${product_info.internal_url}" />
                <td><a href="${product_info.url}">${product_info.name}</a></td>
            </tr>
            <tr>
                <td class="arrow down_${product_info.id} ${downclass}" product_id="${product_info.id}" category_url="${product_info.internal_url}" />
                <td><span id="votes_${product_info.id}">${vote_count}</span> points | ${product_info.price}</td>
            </tr>
        </table>
        <div id='content_${product_info.id}' product_id="${product_info.id}" product_name="${product_info.name}" class="image_block">
        </div>
    </li>
    % endfor
</ul>

